<ng-container *ngIf="formGroup && users$ | async as users">
  <form [formGroup]="formGroup">
    <table>
      <thead *ngIf="users.length">
        <tr>
          <th *ngFor="let col of columns" [style.width]="col.width">
            {{ col.name }}
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="users">
        <tr
          *ngFor="let userGroup of usersFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <td *ngFor="let col of columns">
            <ng-container
              *ngIf="col.editable && edits.has(users[i].id); else readOnly"
            >
              <input
                *ngIf="edits.has(users[i].id)"
                [formControlName]="col.key"
                type="text"
                [ngClass]="{
                  'invalid-input': isInvalid(col.key, i)
                }"
              />
            </ng-container>
            <ng-template #readOnly>
              <span>{{ usersFormArray.at(i).get(col.key)?.value }}</span>
            </ng-template>
          </td>
          <td>
            <button
              *ngIf="!edits.has(users[i].id)"
              class="edit-btn"
              type="button"
              (click)="onEdit(users[i])"
            >
              Edit
            </button>
            <button
              *ngIf="edits.has(users[i].id)"
              class="save-btn"
              type="button"
              (click)="onSave(users[i], i)"
              [disabled]="usersFormArray.at(i).invalid"
            >
              Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</ng-container>
