<ng-container *ngIf="formGroup && data$ | async as items">
  <form [formGroup]="formGroup">
    <table>
      <thead *ngIf="items.length">
        <tr>
          <th *ngFor="let col of columns" [style.width]="col.width">
            {{ col.name }}
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="items">
        <tr
          *ngFor="let itemGroup of itemsFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.editable && edits.has(i); else readOnly">
              <input
                *ngIf="edits.has(i)"
                [formControlName]="col.key"
                type="text"
                [ngClass]="{
                  'invalid-input': isInvalid(col.key, i)
                }"
              />
            </ng-container>
            <ng-template #readOnly>
              <span>{{ itemsFormArray.at(i).get(col.key)?.value }}</span>
            </ng-template>
          </td>
          <td>
            <button
              *ngIf="!edits.has(i)"
              class="edit-btn"
              type="button"
              (click)="onEdit(i)"
            >
              Edit
            </button>
            <button
              *ngIf="edits.has(i)"
              class="save-btn"
              type="button"
              (click)="onSave(items[i], i)"
              [disabled]="itemsFormArray.at(i).invalid"
            >
              Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</ng-container>
