.spinner {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.25rem solid rgb(82, 82, 82);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.75s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
